.checkout {
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
}

.empty_cart {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.checkout > div > h1 {
  font-size: 25px;
  font-weight: 500;
  max-width: 200px;
  margin: 10px auto;
}

.checkout > div > h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0;
}

.checkout > div > p {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0;
}

.checkout_addItem,
.clear_button {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  background-color: #b84dff;
  color: white;
  cursor: pointer;
  width: max-content;
}

.productcart_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.cart_amount {
  font-size: 20px;
  font-weight: 400;
}

/* .clear_button {
  height: 20px;
  width: fit-content;
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
} */
