.checkoutProduct {
  display: flex;
  padding: 25px;
  width: 100%;
  border-bottom: 1px solid gray;
}

.checkoutProduct_img {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  height: max-content;
}

.checkoutProduct_img > img {
  object-fit: contain;
  width: 200px;
  height: 200px;
}

.checkoutProduct_content {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: fit-content;
  padding-left: 50px;
}

.checkoutProduct_content > p {
  margin: 5px 0;
}

.checkoutProduct_title {
  font-size: 25px;
  font-weight: 500;
  margin: 5px 0;
}

.checkoutProduct_description {
  font-size: 20px;
  font-weight: 400;
}

.readMore {
  font-size: 23px;
  color: red;
  cursor: pointer;
}

.checkoutProduct_category {
  font-size: 20px;
  font-weight: 500;
}

.checkoutProduct_price {
  font-size: 20px;
  font-weight: 600;
}

.checkoutProduct_content > button {
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  background-color: #b84dff;
  color: white;
  cursor: pointer;
  width: max-content;
}

/* ************************** Media Queries **************************** */
/* @media only screen and (max-width: 776px) {
  .checkoutProduct {
    flex-direction: column;
  }
  .checkoutProduct_img {
    width: fit-content;
    margin: 0 auto;
  }
} */
@media only screen and (max-width: 400px) {
  .checkoutProduct {
    flex-direction: column;
  }
  .checkoutProduct_img {
    width: fit-content;
    margin: 0 auto;
  }
  .checkoutProduct_img > img {
    width: 200px;
    height: 200px;
  }
  .checkoutProduct_content {
    padding-left: 10px;
    max-width: 400px;
    margin: auto;
  }
}
