.home {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center;
  text-align: center;
  padding: 40px; */
}

.home_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.home_about {
  max-width: 450px;
  line-height: 30px;
}

.home_about > h1 {
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 10px;
}

.home_about > h1 > span {
  color: rgb(224, 54, 24);
}

.home_about > p {
  word-spacing: 5px;
  letter-spacing: 2px;
  margin: 5px;
  font-weight: 500;
}

.home_shopButton {
  width: 150px;
  padding: 10px;
  margin-top: 25px;
  border-radius: 25px;
  background-color: #b84dff;
  color: white;
  font-weight: 500;
  font-size: 15px;
}

.home_img {
  width: 400px;
  object-fit: contain;
}
