.navbar {
  background-color: #b84dff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav_logo {
  font-weight: 700;
}

.nav_logo > span {
  color: rgba(158, 58, 0, 0.856);
}

.nav_links {
  display: flex;
  flex: 0.6;
  justify-content: space-between;
}

.nav_link {
  margin-right: 10px;
}
