.productDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.productDetails > h1 {
  padding: 40px 0 20px 40px;
  border-bottom: 1px solid gray;
}

.backButton {
  margin-top: 20px;
  margin-left: 40px;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  background-color: #b84dff;
  color: white;
  cursor: pointer;
  width: max-content;
}

.productDetails_content {
  margin-top: 20px;
  display: flex;
}

.productDetails_img {
  margin: 40px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.productDetails_img > img {
  width: 350px;
  height: 350px;
  padding: 25px;
  object-fit: contain;
}

.productDetails_info {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  /* max-width: 500px; */
}

.productDetails_info > p {
  margin-bottom: 10px;
}

.productDetails_title {
  font-size: 25px;
  font-weight: 500;
}

.productDetails_description {
  font-size: 20px;
  font-weight: 400;
}

.readmore {
  font-size: 23px;
  color: rgba(33, 109, 153, 0.733);
  cursor: pointer;
}

.productDetails_price {
  font-size: 25px;
  font-weight: 500;
}

.productDetails_category {
  font-size: 25px;
  font-weight: 500;
}

.addButton {
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  background-color: #b84dff;
  color: white;
  cursor: pointer;
  width: max-content;
}
