.productDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.productDetails > h1 {
  padding: 40px 0 20px 40px;
  border-bottom: 1px solid gray;
}

.productDetails > a {
  width: fit-content;
}

.backButton {
  margin-top: 20px;
  margin-left: 40px;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  background-color: #b84dff;
  color: white;
  cursor: pointer;
  width: max-content;
}

.productDetails_content {
  margin-top: 20px;
  display: flex;
}

.productDetails_img {
  margin: 40px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.productDetails_img > img {
  width: 350px;
  height: 350px;
  padding: 25px;
  object-fit: contain;
}

.productDetails_info {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  /* max-width: 500px; */
}

.productDetails_info > p {
  margin-bottom: 10px;
}

.productDetails_info > a {
  width: fit-content;
}

.productDetails_title {
  font-size: 25px;
  font-weight: 500;
}

.productDetails_description {
  font-size: 20px;
  font-weight: 400;
}

.readmore {
  font-size: 23px;
  color: rgba(33, 109, 153, 0.733);
  cursor: pointer;
}

.productDetails_price {
  font-size: 25px;
  font-weight: 500;
}

.productDetails_category {
  font-size: 25px;
  font-weight: 500;
  text-transform: capitalize;
}

.addButton {
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  background-color: #b84dff;
  color: white;
  cursor: pointer;
  width: max-content;
}

/* ******************************* Media Queries **************************** */

@media only screen and (max-width: 650px) {
  .productDetails_content {
    flex-direction: column;
  }
  .productDetails_info {
    margin: 40px 20px;
  }
}

@media only screen and (max-width: 400px) {
  .productDetails > h1 {
    padding: 40px 0 20px 40px;
    font-size: 22px;
    font-weight: 500;
  }

  .productDetails_img {
    margin: 20px auto;
  }

  .productDetails_img > img {
    width: 250px;
    height: 250px;
    padding: 15px;
  }
}

@media (min-width: 401px) and (max-width: 650px) {
  .productDetails_img {
    margin: 40px auto;
  }
  .productDetails_img > img {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 651px) and (max-width: 776px) {
  .productDetails_img {
    margin: 20px;
    height: fit-content;
  }

  .productDetails_img > img {
    width: 250px;
    height: 250px;
    padding: 15px;
  }

  .productDetails_info {
    display: flex;
    flex-direction: column;
    margin: 40px 20px;
  }
}
