.products {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-left: 100px;
  top: 50px;
  z-index: 8;
}

.products > p {
  font-size: 25px;
  font-weight: 500;
  color: rgb(37, 37, 37);
}

.product_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px auto;
}

.product_item {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 15px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  transition: transform 450ms;
  cursor: pointer;
}

.product_item:hover {
  transform: scale(1.1);
}

.product_img {
  width: 220px;
  height: 220px;
  object-fit: contain;
  padding: 20px;
  margin: 0 auto;
}

.product_details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 900;
  margin-bottom: 10px;
  color: black;
}

.product_details > div {
  display: flex;
  align-items: center;
}

/* ************************ Media Queries ************************ */

@media only screen and (max-width: 400px) {
  .products {
    padding-left: 20px;
  }

  .product_items {
    /* margin: 20px auto; */
    flex-direction: column;
  }

  .product_img {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 401px) and (max-width: 550px) {
  .products {
    padding-left: 30px;
  }

  .product_item {
    width: 280px;
  }
  .product_items {
    /* margin: 20px auto; */
    flex-direction: column;
  }

  .product_img {
    width: 250px;
    height: 250px;
  }
}
@media (min-width: 551px) and (max-width: 700px) {
  .products {
    padding-left: 30px;
  }

  .product_item {
    width: 220px;
  }

  /* .product_items {
    margin: 20p;
  } */

  .product_img {
    width: 200px;
    height: 200px;
  }
}
